@model IEnumerable<HocPhi.Models.Lop>

@{
    ViewBag.Title = "ChonLopDiemDanh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chọn Lớp Điểm Danh</h2>
@using (Html.BeginForm("LayDanhSachDiemDanh", "Admin", FormMethod.Post))
{ 
@Html.DropDownList("ddl", Model.Select(item => new SelectListItem
{
    Value = item.MaLop,
    Text = item.TenLop,
    Selected = "select" == item.MaLop
}))
    <input type="submit" value="Danh Sách" class="sendform" />
}
